*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.top{
height: calc(100% - 100px);
background-color: brown;
}

.bottom{
    height: 100px;
    width: 100%;
    background-color: blueviolet;
}